/* Header */

%flexbox{
	display:flex;
	justify-content: center;
	align-items: center;
}

%fixed{
     transform: rotate(360deg);
     transition: all 1.2s ease;
     font-size: 50px;
}

@mixin fixed ($color, $bottom) {
     position: fixed;
     bottom: $bottom;
     right: 15px;
     font-size: 45px;
     color: $color;
}

.contenedorNav{
     background-image: url("../image/header-1.webp");
     width: 100%;
     height:100vh;
     background-position: center;
     background-size: cover;
     object-fit: cover;

          .bg-nav{
               background-color: rgba(0, 0, 0, .4);  
               padding:0 40px;
               position: absolute;
               width: 100%;  
          }

          .navbar-dark{
               .navbar-toggler {
                    padding: 0;
                    font-size: 1rem;
                    line-height: 1;
                    background-color: transparent;
                    border: none;
                    border-radius: 0;

                    .boton-menu::before{
                         font-family: "Font Awesome 5 Free";
                         content: "\f233";
                         font-weight: 900;
                         font-size: 1.6rem;
                         color: #fff;
                    }
                    .icono-cerrar::before{
                         content: "\f00d";
                         font-size: 30px;
                    }
               }

               .navbar-nav{
                    .nav-link{
                         color: burlywood;

                         &:hover{
                              color: rgb(209, 8, 8);
                              font-size: 20px;
                              padding-bottom: 0;
                         }
                    }
               }
          }

          .logo{
               padding: 10px 10px 10px 20px;
               img{
                    width: 110px;
               }
          }

          .bienvenido{
               @extend %flexbox;
               flex-direction: column;
               width: 100%;
               height: 80%;
               padding-top: 110px;
               color: #fff;
               font-size: 1rem;
               font-family: 'Lemonada', cursive;

               @media (min-width:992px){
                    width: 30%;
                    height: 80%;
               }

               p span{
                    color: rgb(174, 185, 19);
                    font-size: 20px;
               }

               .presentacion{
                    display: none;

                    @media (min-width:700px){
                         display: block;
                         display: flex;
                         flex-direction: column;
                         align-items: center;       
                    }
                    p{
                         @media (min-width:700px){
                              justify-content: center;
                              align-items: center;
                              width: 50%;
                              height: 80%;
                              margin: 0;
                              padding: 10px;
                              border:#fff solid 1px;
                              text-align:center;
                              background-color: rgba(0, 0, 0, .4);
                         } 
                         @media (min-width:992px){
                              width: 80%;
                              padding: 0;
                         }
                    }
                    .titulo{
                         @media (min-width:700px){
                              margin-bottom: 10px;
                              font-size: 30px;
                              text-align: center;
                              color: rgb(209, 8, 8);
                         }
                         @media (min-width:992px){
                              padding-bottom: 1rem;
                              font-size: 35px;
                         }
                    }
               }

               .botones-inicio{
                    @extend %flexbox;
                    margin-top: 30px;

                    a{
                        text-decoration: none; 
                        &:hover{
                         padding: 10px;
                         color: #fff;
                         background-color:darken($rojo, 15%) ;
                    }
                    }

                    .boton{

                         &:hover{
                              padding: 1px;
                         }
                    } 
               }
          }

          /* contacto con la propiedad fixed */
          .facebookFixed{
               @include fixed(#fff, 70px);

               &:hover{
                    @extend %fixed;
               }

               @media (max-width:500px) {
                    font-size: 30px;
                    bottom: 60px;
               }
          }
          .whatsappFixed{
               @include fixed(rgb(7, 228, 73), 10px);

               &:hover{
                    @extend %fixed;
               }

               @media (max-width:500px) {
                    font-size: 30px;
                    bottom: 20px;
               }
          }
     }