/* portfolio */

.caminoRealizado{
     background-color: #181818;
     border:#fff solid 2px;
     color: #fff;
     padding: 20px 35px ;
     margin: 10px;
     border-radius: 10px;
     font-family: 'Lemonada', cursive;

     @media (min-width: 700px){
          padding: 20px 10px ;
     }

     h2{
          margin: 5px;
          font-size: 30px;
          text-align: center;
          color: rgb(209, 8, 8);   
     }

     .container-full{
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 70vh;
          background: #111;

                         /* inicio swiper */
                .swiper-container {
                    width: 100%;
                    padding-top: 30px;
                    padding-bottom: 100px; 
                              
                         .swiper-slide {
                               background-position: center;
                              background-size: cover;
                              width: 300px;
                              height: 250px;
                              background: #000;
                              -moz-box-reflect:below 1px linear-gradient(transparent, transparent, #0006);
                              -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
                         }
               }
     }

}