/* sobre mi */

.sobreMi{
     background-image: url("../image/tecn.webp");
     color: #fff;
     padding:20px;
     margin: 10px;
     margin-bottom: 20px;
     border-radius: 5px;
     text-align: center;
     border:#fff solid 2px;
     font-family: 'Lemonada', cursive;

     h2{
          margin: 5px;
          font-size: 30px;
          text-align: center;
          color: rgb(209, 8, 8);
     }
}